@import "./mixin.module.scss";
@import './partials.scss';
@font-face {
    font-family: GothamBold;
    src: url("../assets/fonts/GothamBold.ttf");
}

@font-face {
    font-family: GothamBook;
    src: url("../assets/fonts/GothamBook.ttf");
}


:root {
    --primary-color: #2453a4;
    --secondary-color: #2eac64;
    --heading-color: #4f4e4e;
    --para-color: #575656;
}

.container {

    min-width: 100%;
    min-height: 100vh;
    @include allCenter;

    .forgetpass_container {

        @include allCenter;

        .text_box {
            h1 {
                font-size: $heading-one;
                text-transform: uppercase;
                color: white;
                text-align: center;
                font-family: GothamBold;
                margin-right: 1.5rem;
            }

            p {
                color: white;
                margin-top: 1rem;
                text-align: center;
                line-height: 3rem;
                font-size: 3rem;
                font-weight: 100;
                margin-right: 1.5rem;
            }
        }

        .forgetpass_form {
            padding: 4rem 5rem;
            background-color: white;
            border-radius: 8px;


            h2 {
                font-family: GothamBook;
                text-align: center;
                margin: 3rem 0;
                color: var(--heading-color);
                font-size: 3.6rem;
            }

            .subcontainer {


                border-top: 5px solid var(--primary-color);
                border-left: 1px solid black;
                border-right: 1px solid black;
                border-bottom: 1px solid gray;
                border-radius: 4px;
                margin: 0;
                box-shadow: 5px 10px 18px #888888;





                .heading_grid {

                    border-bottom: 1px solid gray;
                    width: 100%;
                    padding: 3rem 0;
                    position: relative;





                    .lock {

                        width: 4rem;
                        height: auto;
                        display: inline;
                        position: absolute;
                        bottom: 30%;
                        left: 0;
                        padding: 0 .5rem;




                    }

                    p {
                        color: var(--para-color);
                        text-align: start;
                        display: inline;
                        position: absolute;
                        left: 10%;
                        bottom: 30%;
                        font-size: 2.2rem;
                        padding: 0 1rem;
                    }

                }

                .input_grid {

                    width: 100%;
                    margin: 2rem 0;
                    padding: 0 2rem;


                    p {
                        width: 100%;
                        text-align: start;
                        font-weight: bold;
                        padding-top: 3.5rem;
                        font-size: 2.4rem;

                    }

                    input {

                        width: 99%;
                        font-size: 2.4rem;
                        height: 4rem;
                    }

                    input::placeholder {
                        text-transform: lowercase;
                        font-size: 2.4rem;
                    }




                    .forgetpass_button {
                        width: 100%;


                        button {
                            display: block;
                            width: 99.5%;
                            border-radius: 5px;
                            background-color: var(--secondary-color);
                            color: white;
                            cursor: pointer;
                            padding: 5px;
                            border: none;
                            text-transform: capita font-weight;
                            font-size: 2.4rem;
                        }
                    }
                }

                .create_buttons_grid {
                    padding: 0;
                    margin-top: 3rem;



                    .link {
                        text-decoration: none;
                        font-size: 2.4rem;
                        color: var(--heading-color);
                        padding: 1rem 0;


                    }

                    .create_button {
                        font-size: 2.4rem;
                        color: var(--heading-color);
                        padding: .2rem 2.2rem;
                        border-radius: .5rem;
                        border: 1px solid gray;

                    }

                }



            }
        }
    }
}



// media querries 
// @media (max-width:1536px) {

//     html {
//         font-size: 60%;
//     }
// }

// @media (max-width:1200px) {

//     html {
//         font-size: 55%;
//     }

//     .text_box {
//         h1 {
//             font-size: 4.5rem;

//         }

//         p {
//             font-size: 2.5rem;
//         }
//     }

//     .heading_grid {
//         p {
//             font-size: 1.9rem !important;
//         }
//     }
// }

// @media (max-width:900px) {

//     html {
//         font-size: 50%;
//     }

//     .forgetpass_container {
//         @include allCenter;

//         .text_box {
//             h1 {
//                 padding: 2rem 0;
//             }

//             p {
//                 padding-bottom: 2rem;
//             }
//         }
//     }

//     .heading_grid {
//         .lock {
//             padding: 0 1rem !important;
//         }

//         p {
//             padding: 0;
//         }
//     }

//     .input_grid {

//         padding: 0 2rem;

//         input {
//             width: 95% !important;
//             padding: 0 .5rem;
//         }
//     }

//     .forgetpass_button {
//         width: 100%;


//         button {
//             display: block;
//             width: 97% !important;

//         }
//     }
// }

.create_buttons_grid {

    padding: 0 2rem !important;

    .link {
        font-size: 1.9rem !important;

    }

    .create_button {
        font-size: 1.9rem !important;

    }
}

// @media (max-width:600px) {

//     html {
//         font-size: 40%;
//     }
// }

@media (max-width:350px) {

    .heading_grid {
        .lock {
            padding: 0 0.5rem !important;
        }

        p {
            padding: 0;
        }
    }
}

// @media (max-width:9px) {
// h2 {
//     font-size: 20px;
// }

// .container {
//     padding: 50px 0px;
// }

// .register_form {
//     margin-top: 30px;
// }

// .lock {
//     font-size: 10px;
//     margin-left: 5px;
// }
// }